------WebKitFormBoundaryUEaEigMCsDJdaUei
Content-Disposition: form-data; name="product_id"

{{ product_id }}
------WebKitFormBoundaryUEaEigMCsDJdaUei
Content-Disposition: form-data; name="form_build_id"

{{ form_build_id }}
------WebKitFormBoundaryUEaEigMCsDJdaUei
Content-Disposition: form-data; name="form_token"

{{ form_token }}
------WebKitFormBoundaryUEaEigMCsDJdaUei
Content-Disposition: form-data; name="form_id"

commerce_cart_add_to_cart_form_{{ product_id }}
------WebKitFormBoundaryUEaEigMCsDJdaUei
Content-Disposition: form-data; name="line_item_fields[field_selection][und][0][value]"

[{{selections}}]
------WebKitFormBoundaryUEaEigMCsDJdaUei
Content-Disposition: form-data; name="line_item_fields[field_selection_text][und][0][value]"

{{file_count}} filer
------WebKitFormBoundaryUEaEigMCsDJdaUei
Content-Disposition: form-data; name="quantity"

1
------WebKitFormBoundaryUEaEigMCsDJdaUei
Content-Disposition: form-data; name="op"

Legg i kurv
------WebKitFormBoundaryUEaEigMCsDJdaUei--